<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_teletoxic_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_teletoxic_foreground_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleAssociation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".subirFotoEventDelegado"
            android:exported="false" />
        <activity
            android:name=".fotosEvento"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".adminGeneral.EditarActividadAdmin"
            android:exported="false" />
        <activity
            android:name=".eventosUsuario"
            android:exported="false" />
        <activity
            android:name=".resetPassword"
            android:exported="false" />
        <activity
            android:name=".usuarioNotificaciones"
            android:exported="false" />
        <activity
            android:name=".ParticipantesDelactv"
            android:exported="false" />
        <activity
            android:name=".inicioAdminActividad"
            android:exported="false" />
        <activity
            android:name=".Usuario.inicio_usuario"
            android:exported="false" />
        <activity
            android:name=".listaGeneralActividadAdmin"
            android:exported="false" />
        <activity
            android:name=".adminActividad.ListaActividadesDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".CrearActividadDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".EditarActividadDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".adminGeneral.validarParticipanteAdmin"
            android:exported="false" />
        <activity
            android:name=".listaGeneralAdmin"
            android:exported="false" />
        <activity
            android:name=".MasEventosDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".MisEventosDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".ListaEventosActivity"
            android:exported="false" />
        <activity
            android:name=".CrearEventoDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".EditarEventoDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".DonacionDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".EventoDetalleDelactvActivity"
            android:exported="false" />
        <activity
            android:name=".pagosAlumno"
            android:exported="false" />
        <activity
            android:name=".subirFotoEventAlum"
            android:exported="false" />
        <activity
            android:name=".Usuario.eventoDetalleAlumno"
            android:exported="false" />
        <activity
            android:name=".listaActividades"
            android:exported="false" />
        <activity
            android:name=".adminGeneral.estadisticasAdmin"
            android:exported="false" />
        <activity
            android:name=".crearEventoAdmin"
            android:exported="false" />
        <activity
            android:name=".adminGeneral.donacionesAdmin"
            android:exported="false" />
        <activity
            android:name=".misEventosUsuario"
            android:exported="false" />
        <activity
            android:name=".eventoDetalleAdmin"
            android:exported="false" />
        <activity
            android:name=".verEventosAdmin"
            android:exported="false" />
        <activity
            android:name=".adminGeneral.inicioAdmin"
            android:exported="false" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUQXpnbBf2qrLbTViHWD3rcXsRMSod-KQ" />
    </application>

</manifest>